.container {
  display: flex;
  gap: var(--gap-default);
  width: 100%;
  align-items: center;
  .img {
    height: 64px;
    width: 64px;
    background: var(--gradient);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
      height: 60px;
      width: 60px;
      background-color: var(--bg-primary-color);
      border-radius: 50%;
    }
  }
  .name {
    flex: 1;
  }
  .price {
    display: flex;
    gap: 9px;
  }
  @media screen and (max-width: 900px) {
    .price {
      .number {
        font-size: 20px;
        display: flex;
        align-items: center;
      }
    }
    .img {
      height: 32px;
      width: 32px;
      img {
        height: 28px;
        width: 28px;
      }
    }
  }
}
