@import "assets/style/global.scss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  @include scroll;
  .lists {
    display: flex;
    justify-content: space-between;
    .list {
      width: fit-content;
      .ul {
        padding: 0;
        max-height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 10px;
        .done {
          color: var(--text-success-color);
        }
        @media screen and (max-width: 980px) {
          max-height: 320px;
        }
        @media screen and (max-width: 900px) {
          max-height: 420px;
        }
        @media screen and (max-width: 900px) {
          max-height: 250px;
          width: 80px;
          overflow: hidden;
        }
      }
    }
  }
  @media screen and (max-width: 1240px) {
    .lists {
      flex-direction: column;
    }
    .number {
      font-size: 90px;
    }
  }
  @media screen and (max-width: 900px) {
    gap: 24px;
    .lists {
      flex-direction: row;
      gap: 24px;
      margin-top: 16px;
      .list {
        flex: 1;
      }
    }
  }
}
