
.container {
    width: 600px;
    padding-top: 100px;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list__item {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.total {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.ingredients {
    max-height: calc(100vh - 536px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color:#8585AD;
}

.drop {
    border: 1px solid white;
}