.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .number {
    text-shadow: var(--shadow-gradient);
    @media screen and (max-width: 900px) {
      font-size: 100px;
      color: var(--active-color);
    }
  }
  .done__img {
    height: 102px;
    width: 107px;
    margin: 70px 0;
  }
}
