@import "assets/style/global.scss";

.container {
  max-height: inherit;
  display: flex;
  flex-direction: column;
  .images {
    display: flex;
    flex-direction: column;
    gap: var(--gap-default);
    padding-right: 24px;
    @include scroll;
  }
  .total {
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .price {
      display: flex;
      gap: 9px;
      height: 25px;
    }
  }
  .done {
    color: var(--text-success-color);
  }
  @media screen and (max-width: 900px) {
    margin-bottom: 40px;
    .name {
      font-size: 20px;
      margin-top: 24px;
    }
    .ingredients {
      margin-top: 24px;
    }
    .images {
      padding-right: 0;
    }
    .total {
      position: absolute;
      bottom: 0;
      background-color: var(--bg-secondary-color);
      margin-left: -8px;
      height: 40px;
      display: flex;
      align-items: center;
      width: 100vw;
      padding: var(--padding-small);
      .price {
        font-size: 22px;
        display: flex;
        align-items: center;
      }
    }
  }
}
