.container {
  overflow: hidden;
  .images {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 312px;
    padding-right: 24px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #2f2f37;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #8585ad;
    }
  }
  .total {
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .price {
      display: flex;
      gap: 9px;
    }
  }
  .done {
    color: #00cccc;
  }
  @media screen and (max-width: 800px) {
  }
}
