.wrapper {
  margin-top: 120px;
  width: 480px;
  display: flex;
  justify-content: flex-end;
  .content {
    display: flex;
    gap: 24px;
    flex-direction: column;
    .btns {
      display: flex;
      justify-content: flex-end;
      gap: 28px;
    }
  }
}
