.wrapper {
  height: 360px;
  max-height: var(--layout-height);
  min-height: 240px;
  display: flex;
  align-items: flex-end;
  .loader {
    width: 480px;
    max-width: 100vw;
  }
  .content {
    display: flex;
    gap: 24px;
    flex-direction: column;
    .btns {
      display: flex;
      justify-content: flex-end;
      gap: 28px;
    }
  }
  @media screen and (max-width: 900px) {
    height: 280px;
    justify-content: center;
    .content {
      .btns {
        flex-direction: column-reverse;
        width: fit-content;
        margin: auto;
      }
    }
  }
}
