@import "assets/style/global.scss";

.wrapper {
  text-align: center;
  .main {
    @include layout;
    display: flex;
    justify-content: space-between;
    .constr {
      flex-direction: column;
      width: fit-content;
      .title {
        display: none;
        justify-content: space-between;
        padding: var(--padding-default) 8px;
        width: 100vw;
      }
    }
    .footer {
      position: fixed;
      bottom: 0;
      display: none;
      background-color: var(--bg-secondary-color);
      width: 100vw;
      padding: var(--padding-default) 8px;
      justify-content: space-between;
      align-items: center;
      gap: var(--gap-small);
      .total {
        display: flex;
        gap: var(--gap-small);
      }
    }
    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding: 0;
      .section {
        display: none;
        margin: auto;
        max-width: 100vw;
        .title {
          display: flex;
        }
      }
      .active,
      .footer {
        display: flex;
      }
    }
  }
  .empty {
    gap: 40px;
    .constr__empty {
      flex: 1;
    }
  }
}
