@import "assets/style/global.scss";

.wrapper {
  @include layout;
  .nav {
    padding: 0;
    display: none;
    li > div {
      width: 50vw;
      padding: var(--padding-default);
    }
  }
  .main {
    display: flex;
    gap: 40px;
    height: calc(100vh - 188px);
    .list {
      flex: 1;
      max-width: 100vw;
    }
    .stats {
      flex: 1;
    }
  }
  @media screen and (max-width: 900px) {
    padding: 0;
    .main {
      height: calc(100vh - 120px);
      justify-content: center;
      padding: var(--padding-small);
      .stats,
      .list {
        display: none;
      }
      .active {
        display: flex;
      }
    }
    .nav {
      display: flex;
      margin: 0;
    }
  }
}
