.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .energy {
    width: 520px;
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: space-between;
    .energy__prop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .img {
    width: 480px;
    height: 240px;
  }
}
