.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .energy {
    width: 520px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .img {
    width: 480px;
    height: 240px;
  }
  @media screen and (max-width: 900px) {
    .energy {
      width: 100vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 32px;
    }
    .img {
      width: 240px;
      height: 120px;
    }
  }
}
