.left {
  width: 320px;
  min-width: 320px;
  height: 440px;
  max-height: var(--layout-height);
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 80px;
  .list {
    margin: 0;
    padding: 0;
    .list__item {
      .link {
        height: 64px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text-secondary-color);
        &:hover,
        &:active {
          color: var(--text-primary-color);
        }
      }
      .active {
        color: var(--text-primary-color);
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
  @media screen and (max-height: 460px) {
    gap: var(--gap-default);
  }
}
