@import "assets/style/global.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  width: 100%;
  @include scroll;
  .empty {
    width: 480px;
    max-width: 100vw;
    text-align: center;
  }
}
