body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .button_button_size_medium__2yYcd {
    padding: 0;
  }
}

* {
  box-sizing: border-box;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.input_type_text,
div.input_type_email,
div.input_type_password {
  width: 480px;
  max-width: calc(100vw - 16px);
}
