.nav {
    display: flex;
}

.container {
    width: 600px;
    text-align: left;
}

.list {
    display: grid;
    padding: 0 16px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 32px;
}

.ingredients {
    max-height: calc(100vh - 284px);
    overflow:auto;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color:#8585AD;
}