@import "assets/style/global.scss";

.container {
  width: 600px;
  max-width: calc(100vw - 530px);
  text-align: left;
  .nav {
    display: flex;
    padding: 0;
    margin: 0;
    .tab__wrapper {
      flex: 1;
    }
    .tab__wrapper > div {
      min-width: unset;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .ingredients {
    max-height: calc(100vh - 284px);
    @include scroll;
  }
  @media screen and (max-width: 900px) {
    max-width: unset;
    width: 100vw;
    .ingredients {
      max-height: calc(100vh - 196px);
    }
  }
}
