.container {
    width: 600px;
    text-align: left;
}

.nav {
    display: flex;
}

.ingredients {
    max-height: calc(100vh - 284px);
    overflow:auto;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color:#8585AD;
}