.container {
  width: 600px;
  text-align: left;
  .nav {
    display: flex;
  }
  .h1 {
    text-align: left;
  }
  .ingredients {
    max-height: calc(100vh - 284px);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #2f2f37;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #8585ad;
    }
  }
  @media screen and (max-width: 600px) {
    width: 100vw;
    .h1 {
      text-align: center;
      font-size: 28px;
    }
    .tab__wrapper {
      width: calc(100% / 3);
      display: flex;
      div {
      }
    }
  }
}
