.container {
    background-color: #1C1C21;
    height: 246px;
    border-radius: 40px;
    padding: 24px;
    box-sizing: border-box;
    .title {
        display: flex;
        justify-content: space-between;
    }
    .pics {
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

