.container {
  background-color: var(--bg-secondary-color);
  border-radius: 40px;
  padding: 24px;
  .link {
    text-decoration: none;
    color: var(--text-primary-color);
    .title {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      text-align: right;
    }
    .pics {
      height: 64px;
      padding-left: 15px;
      display: flex;
      justify-content: space-between;
      gap: var(--gap-default);
      .price {
        display: flex;
        align-items: center;
        gap: var(--gap-small);
      }
      .img {
        display: flex;
        .img__wrapper {
          height: 64px;
          width: 64px;
          background: var(--gradient);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: -15px;
          position: relative;
          &:nth-child(-n + 5) {
            z-index: 1;
          }
          &:nth-child(-n + 4) {
            z-index: 2;
          }
          &:nth-child(-n + 3) {
            z-index: 3;
          }
          &:nth-child(-n + 2) {
            z-index: 4;
          }
          &:nth-child(-n + 1) {
            z-index: 5;
          }
          img {
            object-fit: cover;
            height: 60px;
            width: 60px;
            background-color: var(--bg-primary-color);
            border-radius: 50%;
          }
          .count {
            position: absolute;
            background-color: var(--bg-modal);
            width: 58px;
            height: 58px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          @media screen and (max-width: 400px) {
            height: 32px;
            width: 32px;
            margin-left: -8px;
            img {
              height: 28px;
              width: 28px;
            }
            .count {
              width: 26px;
              height: 26px;
              div {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .done {
      color: var(--text-success-color);
    }
  }
  @media screen and (max-width: 400px) {
    padding: var(--padding-default);
    .link {
      .pics {
        padding-left: 8px;
      }
    }
  }
}
