.wrapper {
    display: flex;
    height: calc(100vh - 88px);
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
    margin-bottom: 80px;
}

.error {
    color: #E52B1A;
}