.header {
  height: var(--header-height);
  width: 100vw;
  display: flex;
  background-color: var(--bg-secondary-color);
  .logo {
    display: none;
    justify-content: center;
    align-items: center;
    .logo__img {
      height: 40px;
      width: 40px;
    }
  }
  .burger {
    position: relative;
    display: none;
    height: 24px;
    width: 24px;
    align-self: center;
    z-index: 22;
    cursor: pointer;
    &::before,
    &::after,
    span {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: var(--text-primary-color);
      color: var(--text-primary-color);
      left: 3px;
      border-radius: 10px;
      width: 18px;
      transition: all 0.3s ease 0s;
    }
    &::before {
      top: 6px;
    }
    &::after {
      bottom: 6px;
    }
    span {
      top: 11px;
    }
  }
  .main {
    display: flex;
    margin: auto;
    width: var(--layout-width);
    padding: var(--padding-small);
    h1 {
      display: none;
    }
    .left {
      display: flex;
      gap: var(--gap-small);
      flex: 1;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      .profile {
        display: flex;
      }
      .profile__menu {
        display: none;
        margin: 0;
        padding-left: 32px;
      }
    }
    .center {
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (max-width: 900px) {
    justify-content: space-between;
    padding: var(--padding-small);
    .logo {
      display: flex;
    }
    .main {
      position: absolute;
      display: none;
      flex-direction: column;
      z-index: 21;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: var(--padding-small);
      background-color: var(--bg-secondary-color);
      a {
        padding: 0;
      }
      h1 {
        display: flex;
        font-size: 28px;
        text-align: left;
      }
      .center {
        display: none;
      }
      .left,
      .right {
        display: flex;
        flex-direction: column;
        gap: 0;
        flex: 0;
        .profile__menu {
          display: block;
        }
        a {
          height: 48px;
        }
      }
      .left {
        order: 1;
      }
      .profile {
        justify-content: space-between;
        align-items: center;
        padding-right: 12px;
        cursor: pointer;
        .submenu {
          display: flex;
          border: 8px solid transparent;
        }
        .submenu__opened {
          border-bottom: 8px solid var(--text-secondary-color);
        }
        .submenu__closed {
          border-top: 8px solid var(--text-secondary-color);
          margin-top: 8px;
        }
      }
    }
    .burger,
    .burger__active {
      display: flex;
    }
    .burger__active__icon {
      &::before,
      &::after {
        width: 25px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(45deg);
        top: 11px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 11px;
      }
    }
  }
}
