.header {
    height: 88px;
    display: flex;
    background-color: #1C1C21;
    overflow: auto;
    min-width: 1280px;
   .main {
        display: flex;
        margin: auto;
        min-width: 1280px;
        .left {
            display: flex;
            gap: 8px;
            width: calc(100% / 3);
        }
        .right {
            display: flex;
            justify-content: flex-end;
            width: calc(100% / 3);
        }
        .center {
            display: flex;
            justify-content: center;
            width: calc(100% / 3);
        }
    }
}
